@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-afronaut);
  font-weight: 300;
}

h1 {
  font-size: 6rem;
  line-height: 1.1;
}

h2 {
  font-size: 4rem;
  line-height: 1.2;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
}

h4 {
  font-size: 2rem;
  line-height: 1.4;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.375rem;
  }

  h6 {
    font-size: 1.125rem;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }
}

span,
div,
li,
a {
  font-family: var(--font-gt);
}

a,
p {
  font-family: var(--font-gt);
  font-weight: 300;
  font-size: 16px;
}



:root {
  --color-bg: hsla(158, 23%, 18%, 1);
  --color-text: hsla(160, 52%, 71%, 1);

  --color-gradient: linear-gradient(to bottom, hsla(36, 31%, 90%, 0) 0%, hsla(36, 31%, 90%, .013) 9.7%, hsla(36, 31%, 90%, .049) 18.1%, hsla(36, 31%, 90%, .104) 25.5%, hsla(36, 31%, 90%, .175) 31.9%, hsla(36, 31%, 90%, .259) 37.7%, hsla(36, 31%, 90%, .352) 43%, hsla(36, 31%, 90%, .45) 47.9%, hsla(36, 31%, 90%, .55) 52.8%, hsla(36, 31%, 90%, .648) 57.7%, hsla(36, 31%, 90%, .741) 63%, hsla(36, 31%, 90%, .825) 68.7%, hsla(36, 31%, 90%, .896) 75%, hsla(36, 31%, 90%, .951) 82.2%, hsla(36, 31%, 90%, .987) 90.5%, hsl(36, 31%, 90%) 100%);

  --background-hero: linear-gradient(135deg, #a0f36d, #d3dbab, #590a8198, #8a880fca, #5A4894, #ff94c3, #7cffee);

  --font-gt: 'GT', sans-serif;
  --font-acorn: 'Acorn', sans-serif;
  --font-afronaut: 'afronaut', serif;

  --radius-base: .75rem;

  --app-color-white: #ffffff;
  --app-color-blue100: #F3FBFF;
  --app-color-blue200: #D6EDFF;
  --app-color-blue300: #A0D4FF;
  --app-color-blue400: #57B0FB;
  --app-color-blue500: #1292EE;
  --app-color-blue600: #0077CC;
  --app-color-blue700: #005CA4;
  --app-color-blue800: #034077;

  --app-color-grey200: #F9FAFA;
  --app-color-grey300: #F1F3F5;
  --app-color-grey400: #E5E9EC;
  --app-color-grey500: #D5DCE1;
  --app-color-grey600: #C5CED6;
  --app-color-grey700: #B7C2CC;
  --app-color-grey800: #A5B2BD;

  --app-color-charcoal200: #93A1B0;
  --app-color-charcoal300: #748494;
  --app-color-charcoal400: #556575;
  --app-color-charcoal500: #405261;
  --app-color-charcoal600: #314351;
  --app-color-charcoal700: #253642;
  --app-color-charcoal800: #1D2B36;

  --app-color-yellow100: #FFF9EF;
  --app-color-yellow200: #FFF2D7;
  --app-color-yellow300: #FFE7B8;
  --app-color-yellow400: #FDD88E;
  --app-color-yellow500: #FFC555;
  --app-color-yellow600: #FAB347;
  --app-color-yellow900: #B24319;

  --app-color-green200: #E3FBEE;
  --app-color-green500: #56C288;
  --app-color-green600: #39AC6E;
  --app-color-green700: #268C55;
  --app-color-green750: #248451;
  --app-color-green800: #106236;

  --app-color-indigo200: #DFE7FF;
  --app-color-purple100: #F9F9FF;
  --app-color-purple200: hsla(237, 100%, 96%, 1);
  --app-color-lavender200: #EBECFF;

  --color-doodler-white: #FFF;
  --color-doodler-grey: #FCFCFC;
  --color-doodler-border: rgba(0, 0, 0, .1);
  --color-doodler-active: #007AFF;
  --color-doodler-base-grey: #636366;
  --color-doodler-base-green: #56C288;
  --color-doodler-base-indigo: #527CEB;
  --color-doodler-purple: #6e56cf;
  --color-doodler-purple-dark: #5746af;
  --color-doodler-lavender: #EBECFF;
  --color-doodler-base-yellow: #FFC555;
  --color-doodler-base-pink: #F23459;
  --color-doodler-base-black: #444444;

  --doodler-radius-menu: 13px;
  --doodler-radius-md: 6px;
  --doodler-radius-lg: 20px;

  --dm-dark-500: #1C1C1E;
  --dm-dark-400: #2C2C2E;
  --dm-dark-300: #3A3A3C;
  --dm-dark-200: #48484A;
  --dm-dark-100: #636366;
  --dm-black: #161616;
  --dm-blur: rgba(28, 28, 30, .7);
  --dm-light-300: #8E8E93;
  --dm-light-200: #AEAEB2;
  --dm-light-100: #C7C7CC;

  --dm-blue: #57B0FB;
  --dm-blue-dark: #22282E;
  --dm-yellow: #FFC555;
  --dm-yellow-dark: #29241A;
  --dm-green: #56C288;
  --dm-green-dark: #172920;
  --dm-red: #FC5D7D;
  --dm-red-dark: #332024;
  --dm-purple: #9FA6FF;
  --dm-purple-dark: #24242E;
  --dm-indigo: #527CEB;
  --dm-indigo-dark: #202739;

  --curve: cubic-bezier(0, .49, 0, 1.49);
  --curve-timing: .35s;
  --shadow-menu: 0px 10px 60px rgba(0, 0, 0, .1);
}

@keyframes gradient-move {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.gradient-animated {
  background: var(--background-hero);
  background-size: 500%;
  z-index: -2;
  animation: animate-gradient 35s infinite linear;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* .gradient-hero {
  background: linear-gradient(to top, hsla(158, 23%, 18%, 1), hsla(158, 23%, 18%, 1), rgba(35, 56, 49, 0.956), rgba(35, 56, 49, 0.877), rgba(35, 56, 49, 0.897));
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}