---
---
<div class="content--canvas gradient-blur-wrapper"></div>

<script is:inline src="/js/noise.min.js"></script>
<script is:inline src="/js/util.js"></script>
<script is:inline src="/js/shift.js"></script>

<style>
  .gradient-blur-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    pointer-events: none;
    overflow: hidden;
  }
</style>
