---
---
<div class="content--canvas gradient-blur-wrapper"></div>

<script is:inline src="/js/noise.min.js"></script>
<script is:inline src="/js/util.js"></script>
<script is:inline src="/js/shift.js"></script>

<style>
  .gradient-blur-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: -10;
    pointer-events: none;
    overflow: hidden;
  }

  :global(.content--canvas canvas) {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
</style>
